* { box-sizing: border-box; }

body {
    margin: 0;
}

html, body { margin: 0; height: 100%; }

.top {
  border: thin solid black;
  width: 75%;
  height: 25%;
  float:right;
  font-size:50px;
  background-color:#E5E500;
  color:black;
}
.left {
  border: thin solid black;
  width: 25%;
  height: 100%;
  background-color:#F4FE00;
  color:black;
  font-size:40px;
  float:left;
}
.right {
  border: thin solid black;
  width: 25%;
  height: 75%;
  background-color:#FFFF28;
  color:black;
  font-size:40px;
  float:right;
}
.content-right {
  border: thin solid black;
  width: 25%;
  height:50%;
  float:right;
  font-size:40px;
  background-color:#F5F535;
  color:black;
}
.content-left {
  border: thin solid black;
  width: 25%;
  height:50%;
  float:left;
  font-size:40px;
  background-color:#FFFF00;
  color:black;
}
.down {
border: thin solid black;
width: 50%;
height:25%;
float:right;
font-size:50px;
background-color:#F6FE26;
color:black;
}
